<div class="row" style="margin-right: 0; margin: 20px; border-bottom: 4px solid gainsboro;">
    <div class="col-md-6" style="border-right: 4px solid gainsboro;">
        <div class="user-container">
            <h2 style="margin: auto"> Recipient Details</h2>
            <table class="table table-striped  table-bordered">
                <thead>
                    <tr>
                        <th>
                            Name
                            <input name="name" [(ngModel)]="user.name" class="form-control" type="text" required />
                        </th>
                        <th>
                            Email
                            <input name="email" [(ngModel)]="user.email" class="form-control" type="email" required />
                        </th>
                        <th>
                            <button (click)="add()" class="btn btn-success" [disabled]="user.name == '' || user.email == ''">Add</button>
                        </th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
            </table>
            <table class="table table-striped  table-bordered">
                <thead>
                    <tr>
                        <th class="hidden">Id</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of users">
                        <td class="hidden">{{user.id}}</td>
                        <td>{{user.name}}</td>
                        <td>{{user.email}}</td>
                        <td>
                            <button class="btn btn-success" (click)="delete(user)"> Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-md-6">
        <div class="user-container">
            <h2 style="margin: auto"> Special Offer Details</h2>
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>
                            Special Offer Name
                            <input name="offerName" [(ngModel)]="offer.offerName" class="form-control" type="text" required />
                        </th>
                        <th>
                            Discount Percent
                            <input name="discountPercent" [(ngModel)]="offer.discountPercent" class="form-control" type="text" required />
                        </th>
                        <th>
                            <button (click)="addOffer()" class="btn btn-success" [disabled]="offer.offerName == '' || offer.discountPercent == ''">Add</button>
                        </th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
            </table>
            <table class="table table-striped  table-bordered">
                <thead>
                    <tr>
                        <th class="hidden">Id</th>
                        <th>Special Offer Name</th>
                        <th>Discount Percent</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let offer of offers">
                        <td class="hidden">{{offer.id}}</td>
                        <td>{{offer.offerName}}</td>
                        <td>{{offer.discountPercent}}</td>
                        <td>
                            <button class="btn btn-success" (click)="deleteOffer(offer)"> Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
