<div class="row" style="margin-right: 0; margin: 20px; border-bottom: 4px solid gainsboro;">
    <div class="user-container col-md-12">
        <h2 style="margin: auto">Generate Discount Code</h2>
        <table class="table table-striped  table-bordered">
            <thead>
                <tr>
                    <th>
                        Email
                        <!-- <input name="email" [(ngModel)]="valdiscount.email" class="form-control" type="text" required /> -->
                        <select [(ngModel)]="valdiscount.email" class="form-control">
                            <option *ngFor="let user of users" value="{{user.email}}">{{user.email}}</option>
                        </select>
                    </th>
                    <th>
                        Special Offer Name
                        <!-- <input name="offername" [(ngModel)]="valdiscount.specialOfferName" class="form-control" type="text" required /> -->
                        <select [(ngModel)]="valdiscount.specialOfferName" class="form-control">
                            <option *ngFor="let offer of offers" value="{{offer.offerName}}">{{offer.offerName}}</option>
                        </select>
                    </th>
                    <th>
                        Expiry Date
                        <input placeholder="MM/dd/yyyy" name="expirydate" [(ngModel)]="valdiscount.expiryDate" class="form-control" type="date" required />
                    </th>
                    <th>
                        <button (click)="validate()" class="btn btn-success" [disabled]="valdiscount.expiryDate == '' || valdiscount.specialOfferName == '' || valdiscount.email== ''">Generate Discount Code</button>
                    </th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
        </table>
        <div *ngIf="valDiscResp != null">
            <span class="error-msg" *ngIf="valDiscResp['status'] == 'ERROR'">{{valDiscResp['errorMessage']}}</span>
            <span class="info-msg" *ngIf="valDiscResp['status'] == 'SUCCESS'">Successfully Generated Discount Code</span>
        </div>
    </div>
</div>
<div class="row" style="margin-right: 0;; margin: 20px;">
    <div class="user-container col-md-12">
        <h2 style="margin: auto">Discount Codes By Email</h2>
        <table class="table table-striped  table-bordered">
            <thead>
                <tr>
                    <th>
                        Email
                        <!-- <input name="name" [(ngModel)]="emailForDisCode" class="form-control" type="text" required /> -->
                        <select [(ngModel)]="emailForDisCode" class="form-control">
                            <option *ngFor="let user of users" value="{{user.email}}">{{user.email}}</option>
                        </select>
                    </th>
                    <th>
                        <button (click)="getCodes()" class="btn btn-success" [disabled]="emailForDisCode == ''">Get Discount Codes</button>
                    </th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
        </table>
    </div>
</div>
<div class="row" style="margin-right: 0; margin: 20px;">
    <div class="col-md-4" *ngFor="let offer of discountInfos">
        <div class="offer-tile shadow">
            <h5>Code: {{offer.discountCode}}</h5>
            <h1>{{offer.specialOfferName}}</h1>
            <button (click)="redeemDiscFromTile(offer)" [disabled]="offer.used" class="btn btn-success">Redeem</button>
        </div>
    </div>
    <div class="error-msg" *ngIf="discountInfos == null ">*There are no Discounts Mapped to the Recipient*</div>
    <div *ngIf="redeemResp != null">
        <span class="error-msg" *ngIf="redeemResp['status'] == 'ERROR'">{{redeemResp['errorMessage']}}</span>
        <span class="info-msg" *ngIf="redeemResp['status'] == 'SUCCESS'">Successfully Redeemed</span>
    </div>
</div>
